APP_ENV=development
APP_DEBUG=true
API_V1_PREFIX=/api/v1
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=shared_expenses
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_ECHO=false
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=
